<!DOCTYPE html>
<html>
  <head>
    <title>Visualise Tweets</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
        width: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdDohUJXJ09nNIk3IU08rUByK4fdQEeC0"></script>
    <script>
      var india = {lat: 20.5937, lng: 78.9629};
      var map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 20, lng: 10},
        zoom: 3
      });

      var infowindow = new google.maps.InfoWindow({
        content: "holding..."
      });

      setInterval(function(){
        console.log("Consuming Tweets");
         var url = "/tweets/consume/";//use any url that have json data  
         var request;        
         if(window.XMLHttpRequest){    
          request=new XMLHttpRequest();//for Chrome, mozilla etc  
         }    
         else if(window.ActiveXObject){    
          request=new ActiveXObject("Microsoft.XMLHTTP");//for IE only  
         }
         request.onreadystatechange  = function(){  
          if (request.readyState == 4  )  
          {  
            var jsonObj = JSON.parse(request.responseText);
            console.log(jsonObj)
            var tweets_arr = jsonObj.data
            for(tweet in tweets_arr){
              addMarker(tweet);
            }
          }  
       }  
       request.open("GET", url, true);  
       request.send();      
      }, 10000);


      function addMarker(tweet_json){
        location = {lat: 59.327, lng: 18.067};
        var tweet = JSON.parse(tweet_json);
        if(!(tweet.geo===null)){
          if(tweet.geo.type == "Point"){
            var coords = tweet.geo.coordinates;
            location.lat = coords[0];
            location.lng = coords[1];
          }          
        }
        var marker = new google.maps.Marker({
          map: map,
          draggable: false,
          animation: google.maps.Animation.DROP,
          position: location
          html: tweet.html
        });

        google.maps.event.addListener(marker, 'click', function () {
          infowindow.setContent(this.html);
          infowindow.open(map, this);
        });

      }

    </script>
  </body>
</html>