<!DOCTYPE html>
<html>

<head>
    <title>Twitter-Sentiment-Analysis</title>
    <style type="text/css">
      html,
      body {
          height: 100%;
          margin: 0 auto;
          padding: 0;
          text-align: center;
      }

      #map {
          height: 80%;
      }

      .form-div {
        width: 500px;
        display: inline-block;
        padding: 20px;
      }
    </style>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <h1>Twitter-Sentiment-Analysis</h1>
    <div class="form-div">
        <form>
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="query">Query</label>
                        <input type="text" class="form-control" id="query" aria-describedby="emailHelp" placeholder="Enter Search Query">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="city">Region</label>
                        <select class="form-control form-control-lg" id="city">
                            <option>United States</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <button type="button" id="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
    <div id="map"></div>
    <script>
      var map;
      var infowindow;
      var locations = [];
      var colors = ["#CD5C5C", "#F08080", "#FA8072", "#E9967A", "#FFA07A"]

      function initMap() {
          map = new google.maps.Map(document.getElementById('map'), {
              zoom: 3,
              center: { lat: 37.16, lng: -95.96 },
              mapTypeId: 'terrain'
          });

          infowindow = new google.maps.InfoWindow({
            content: "holding..."
          });
      }

      function get_color(location) {
          if (location["confidence"] == 0) {
              return "grey";
          }
          else if (location["confidence"] > 0) {
              return "#2E86C1";
          } else {
              return "red";
          }
          return "grey";
      }

      function get_opacity(location) {
          var conf = Math.abs(location["confidence"]);
          if(conf  < 0.8 && conf > 0){
            conf += 0.2;
          }
          if (conf == 0) {
              return 0.7;
          }
          // if(conf <= 0.1 ){
          //   return 0.1;
          // }
          return conf;
      }

      function set_locations(tmp) {
          locations = tmp;
      }

      function set_markers(locs){
          console.log(locs);
          set_locations(locs);
          var markers = locations.map(function (location, i) {
              return new google.maps.Marker({
                  position: { "lat": location["lat"], "lng": location["lng"] },
                  icon: {
                      path: google.maps.SymbolPath.CIRCLE,
                      fillColor: get_color(location),
                      fillOpacity: get_opacity(location),
                      strokeColor: 'white',
                      strokeWeight: .5,
                      scale: 10
                  },
                  draggable: false,
                  animation: google.maps.Animation.DROP,
                  htmlContent: location["htmlStr"],
              });
          });

          markers.map(function (marker, i) {
              google.maps.event.addListener(marker, 'click', function () {
                infowindow.close()
                infowindow.setContent(this.htmlContent);
                infowindow.open(map, this);
                google.maps.event.addListener(infowindow, 'domready', function () {
                    ! function (d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (!d.getElementById(id)) {
                            js = d.createElement(s);
                            js.id = id;
                            js.src = "//platform.twitter.com/widgets.js";
                            fjs.parentNode.insertBefore(js, fjs);
                        }
                    }(document, "script", "twitter-wjs");
                });
              });
              marker.setMap(map)
          })
      }

      function get_tweets(query){
        console.log("Consuming Tweets");
        var urlx = "/tweets/consume?query="+query;//use any url that have json data  
        var request;        
        if(window.XMLHttpRequest){    
          request=new XMLHttpRequest();//for Chrome, mozilla etc  
        }    
        else if(window.ActiveXObject){    
          request=new ActiveXObject("Microsoft.XMLHTTP");//for IE only  
        }
        request.onreadystatechange  = function(){  
        if (this.readyState == 4 && this.status == 200)  
        {
          var jsonObj = JSON.parse(request.responseText);
          console.log(jsonObj.count)
          var tweets_arr = jsonObj["data"];
          set_markers(tweets_arr);
        }  
        } 
        request.open("GET", urlx, true);  
        request.send();
      }

      function produce_tweets(query,city){
        console.log("Start Prod. Tweets");
        var urlx = "/tweets/produce?query="+query+"&region="+city;//use any url that have json data  
        var request;        
        if(window.XMLHttpRequest){    
          request=new XMLHttpRequest();//for Chrome, mozilla etc  
        }    
        else if(window.ActiveXObject){    
          request=new ActiveXObject("Microsoft.XMLHTTP");//for IE only  
        }
        request.onreadystatechange  = function(){  
        if (this.readyState == 4 && this.status == 200)  
        {
          var jsonObj = JSON.parse(request.responseText);
          if(jsonObj['success'] == 1){
            console.log("producing tweets");
          }
        }  
        } 
        request.open("GET", urlx, true);  
        request.send();
      }

      $(document).ready(function(){
          $("#submit").click(function(){
              var query = $("#query").val();
              var city = $( "#city").val().toLowerCase();
              console.log(query);
              console.log(city);
              
              produce_tweets(query,city);

              setTimeout(function(){ 
                setInterval(function(){
                  get_tweets(query);
                }, 1000);
                // get_tweets(query);
              }, 3000);
          });
      });
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTp-EcTcPQrylAHmm114Xr2TUhkann3eA&callback=initMap">
    </script>
  </body>
</html>